@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* open-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/open-sans-v34-latin-600.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/open-sans-v34-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/open-sans-v34-latin-700.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/open-sans-v34-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cormorant-garamond-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/cormorant-garamond-v16-latin-700.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/cormorant-garamond-v16-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .rtl_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background-image: url("/src/assets/svg/arrow.svg"); /* Add custom arrow */
    background-position: left theme("spacing.2") center;
    padding-left: theme("spacing.10");
    padding-right: theme("spacing.3");
  }
}

p {
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.svg_arrow {
  transform: rotate(90deg);
}

.background_slider {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.background_slider .background_slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 17s infinite;
}

.background_slider .background_slide:nth-child(1) {
  background-image: url("/home-hero-img-1.jpg");
  animation-delay: 0s;
  background-size: cover;
}

.background_slider .background_slide:nth-child(2) {
  background-image: url("/home-hero-img-2.jpg");
  animation-delay: -8.5s;
  background-size: cover;
}

@keyframes slider {
  0%,
  47%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  50% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  97% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}

.keen-slider:not([data-keen-slider-disabled]) {
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-moves] * {
  pointer-events: none;
}

.slide {
  height: 50vh;
  color: text;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: white;
}

@media screen and (min-width: 1280px) {
  .special_hover {
    position: relative;
    border: 2px solid #bdbdbd;
    transition: border-color 0.3s ease-out;
  }

  .special_hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2px solid #fc495d;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out,
      border-color 0.3s ease-out;
  }

  .special_hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #fc495d;
    border-left: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out,
      border-color 0.3s ease-out;
  }

  .special_hover:hover::before {
    width: 100%;
    border-right: 2px solid #fc495d;
    transition: width 0.3s ease-out, height 0.3s ease-out,
      border-color 0.3s ease-out;
  }

  .special_hover:hover::after {
    height: 100%;
    border-right: 2px solid #fc495d;
    transition: width 0.3s ease-out, height 0.3s ease-out,
      border-color 0.3s ease-out;
  }

  .special_hover:hover {
    border-color: #fc495d;
  }
}
